body {
  margin: 0;
}

:root {
  --common-padding: 0 7%;
}

/* nav-bar design as per microverse template 2 */
.nav-bar ul {
  background-color: #3c3a39;
  display: flex;
  margin: 0;
  padding: 12px 0;
  justify-content: space-between;
  padding: 12px 24px;
}

.nav-bar .nav-item {
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
  list-style: none;
}

.nav-bar .toggle-menu {
  cursor: pointer;
}

.nav-bar .toggle-menu:hover {
  color: #ffd581;
}

/* main body css */
.intro-section {
  color: white;
  background-color: #1c1a19;
  display: flex;
  height: calc(100vh - 45px);
  margin: 0;
  padding: var(--common-padding);
  flex-direction: column;
  justify-content: center;

  /* Background img (Need to be Fixed) */
  background-image: url("../img/Group.png");
  background-repeat: no-repeat;
  background-position: bottom -50px right;
}

/* main body content */
.intro-section .intro-name {
  margin: 0;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  color: #ff6b00;
  font-size: 50px;
}

.intro-section .profession {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 24px;
  color: #fff5e1;
}

.intro-section .about {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* Social links */
.intro-section .social {
  display: flex;
  font-size: 24px;
  width: 180px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.intro-section .social-link {
  text-decoration: none;
  color: #fff5e1;
}

.intro-section .social-link:hover {
  color: #ffd581;
}

/* -----Work section----- */
.work-section {
  padding: var(--common-padding);
}

.work-section .grid-wrapper {
  display: grid;
  grid-template-columns: auto;
  row-gap: 24px;
  padding: 80px 0;
}

.work-section .content-wrapper {
  padding: 0 16px;
}

/* project language */
.work-section .project-lang {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: flex-start;
}

.work-section .project1 .project-lang li {
  border: 1px solid #8993a4;
  padding: 10px 12px;
  margin-right: 12px;
}

.work-section .project-sample .project-lang li {
  padding: 10px 12px;
  margin-right: 12px;
  background: rgba(255, 255, 255, 0.24);
}

/* images */
.work-section .project1 .project-img {
  width: 327px;
  height: 237px;
  margin-bottom: 24px;
}

.work-section .project1 {
  display: flex;
  flex-direction: column;
}

.work-section .half-btn,
.contact-section .contact-form button {
  width: 124px;
  height: 48px;
  background-color: #ff6b00;
  border: none;
  color: white;
}

.contact-section .contact-form button {
  width: 131px;
}

.work-section .project-sample {
  background-image: url("../img/project-bag.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 327px;
  height: 386px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.work-section .project-sample .full-btn {
  width: 327px;
  height: 48px;
  background-color: #ff6b00;
  border: none;
  color: white;
}

.work-section .project-sample .full-btn,
.work-section .half-btn,
.contact-section .contact-form button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
}

.work-section .project-sample .full-btn:hover,
.work-section .half-btn:hover,
.contact-section .contact-form button:hover {
  color: #f55800;
  background-color: #fff5e1;
  border: 1px solid #f55800;
}

.work-section .project-sample .full-btn:active,
.work-section .half-btn:active,
.contact-section .contact-form button:active {
  color: white;
  background-color: #e05304;
}

.work-section .project-sample .full-btn:disabled,
.work-section .half-btn:disabled,
.contact-section .contact-form button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.work-section .project-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0;
}

.work-section .project-name {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin: 0;
}

.work-section .work-section-heading {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  padding: 68px 0;
  border-bottom: 1px solid black;
}

/* -----Work section-----end */

/* -------About me------- */
.about-me-section {
  padding: var(--common-padding);
  background-color: #1c1a19;
  color: white;
  background-image: url("../img/aboutme-bag.png");
  background-repeat: no-repeat;
  background-position: right 70vh;
}

.about-me-section .grid-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100vh;
  row-gap: 24px;
  padding-top: 80px;
}

.about-me-section .grid-wrapper .aboutme {
  display: flex;
  flex-direction: column;
}

.about-me-section .grid-wrapper .skill-set hr{
  color: #fff;
  margin-bottom: 140px;
}

.about-me-section .title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
  margin: 0;
}

.about-me-section .summary {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.about-me-section .resume {
  padding: 12px;
  background-color: #ff6b00;
  border: none;
  color: white;
  width: 161px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
}

.about-me-section .resume:hover {
  color: #f55800;
  background-color: #fff5e1;
  border: 1px solid #f55800;
}

.about-me-section .resume:active {
  color: white;
  background-color: #e05304;
}

.about-me-section .resume:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.about-me-section .skill-set{
  margin-bottom: 100px;
}

.about-me-section .skill-set ul {
  padding: 0;
  display: flex;
  list-style: none;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.about-me-section .skill-set .lang {
  list-style-image: url("../img/Rectangle.png");
}

.about-me-section .skill-set .fram {
  list-style-image: url("../img/sq.png");
}

.about-me-section .skill-set .skills {
  list-style-image: url("../img/ca.png");
}

.about-me-section .skill-set .category {
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.about-me-section .skill-set .sublist {
  list-style: none;
  display: flex;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  margin: 25px;
  flex-direction: column;
  align-items: center;
}

/* -------About me-------end */

/* ---Contact section--- */
.contact-section {
  display: flex;
  height: calc(100vh + 120px);
  margin: 0;
  margin-top: 120px;
  padding: var(--common-padding);
  flex-direction: column;
}

.contact-section h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.contact-section .contact-form ul {
  list-style: none;
  padding: 0;
}

.contact-section .contact-form .input-field {
  width: 100%;
  margin-bottom: 24px;
  outline: none;
  border: none;
  border-bottom: 2px solid #adadad;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.contact-section .contact-form .text-area {
  background-color: #fbf8f7;
  border: none;
}

.contact-section .contact-form .con-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---Contact section---end */

.footer-section {
  margin-top: 100px;
}

.footer-section .social .social-link {
  padding: 0 11px;
  text-decoration: none;
  margin: 25px 0;
  color: #505f79;
}

.footer-section .social .social-link:hover {
  color: #282b30;
}

.footer-section .social {
  display: flex;
  font-size: 24px;
  padding: 0 24px;
  list-style: none;
  margin: 0;
  justify-content: center;
}

.footer-section hr {
  color: #dfe1e6;
}


@media all and (min-width: 768px) {
  /* ---Work--- */

  /* ---work end--- */
 /* ---about me--- */
 .about-me-section {
  background-image: url("../img/aboutdskbg.png");
  background-size: contain;
  background-position: top right;
}
.about-me-section .grid-wrapper .aboutme {
  max-width: 45%;
}

 .about-me-section .skill-set ul{
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  
 }
 .about-me-section .skill-set .sublist{
  align-items: flex-start;
 }
 /* ---about me end--- */

 /* --contact--- */
 .contact-section{
  flex-direction: row;
 }
 .contact-section h3{
  flex: 1;
 }
 .contact-section .contact-form{
  flex: 2;
  padding-left: 40px;
 }
 /* ---contact end--- */
}
